<div class="top-bar">
    <h1>Usuarios</h1>
    <div class="user">
        <div class="user-menu">
            <span class="user-name">SALEM001</span>
            <button mat-raised-button routerLink="/login">LOG OUT</button>
        </div>
        <div class="user-image">
            <img src="/assets/user.png" alt="">
        </div>
    </div>
</div>
<div class="content">
    <div class="toolbar">
        <div class="go-back">
            <button mat-raised-button routerLink="/menu"> &lt; Volver </button>
        </div>
        <div class="search">
            <div class="input">
                <label>Search</label>
                <input placeholder="" value="">
                <img src="/assets/search.png" alt="">
            </div>
        </div>
    </div>
    <div class="table-container">
        <div class="table">
            <div class="table-header">
              <div class="table-column-nombre">Nombre usuario</div>
              <div class="table-column-medicamento">Cantidad de medicamentos creados</div>
              <div class="table-column-recordatorio">Cantidad de recordatorios creados</div>
            </div>
            <div class="table-row">
              <div class="table-cell-nombre">SALEM</div>
              <div class="table-cell-medicamento">3</div>
              <div class="table-cell-recordatorio">3</div>
            </div>
            <div class="table-row">
                <div class="table-cell-nombre">RAMAE</div>
                <div class="table-cell-medicamento">2</div>
                <div class="table-cell-recordatorio">4</div>
            </div>
            <div class="table-row">
                <div class="table-cell-nombre">JUANP</div>
                <div class="table-cell-medicamento">1</div>
                <div class="table-cell-recordatorio">3</div>
            </div>
            <div class="table-row">
              <div class="table-cell-nombre"></div>
              <div class="table-cell-medicamento"></div>
              <div class="table-cell-recordatorio"></div>
            </div>
            <div class="table-row">
                <div class="table-cell-nombre"></div>
                <div class="table-cell-medicamento"></div>
                <div class="table-cell"></div>
              </div>
        </div>
    </div>
    
</div>
