/*
top bar
*/
.top-bar {
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
}

.top-bar h1 {
    display: inline;
    width: auto;
    height: 100%;
    line-height: 150px;
    margin-left: 200px;
    font-size: var(--text-titulo-1);
    color: var(--on-primary-color);
}

.top-bar .user  {
    display: flex;
    flex-direction: row;
    float: right;
    height: 100%;
    margin-right: 200px;
}

.top-bar .user .user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar .user .user-menu .user-name {
    margin-bottom: 18px;
    font-size: var(--text-top);
    color: var(--on-primary-color);
}

.top-bar .user .user-menu button {
    width: 234px;
    height: 49px;
    color: var(--primary-color);
    background-color: var(--on-primary-color);
    border: 1px var(--primary-color) solid;
    border-radius: 10px;
    font-size: var(--button-text-size);
    font-weight: var(--button-font-weight);
    cursor: pointer;
}

.top-bar .user .user-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
}

.top-bar .user .user-image img {
    width: 107px;
    height: 107px;
    border-radius: 20px;
}

.top-bar {
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
}
/*
Content
*/
.content {
    margin: auto;
    margin-top: 40px;
    height: calc(100% - 150px);
    width: calc(100% - 400px);
}
.toolbar {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 20px;
}
.toolbar h3 {
    font-size: var(--text-titulo-4);
    color: var(--on-primary-color);
}
/*
Menú
*/

.menu-content {
    display: flex;
    margin-top: 30px;
}

.option-user {
    border: 1px solid #ccc;
    padding: 35px;
    cursor: pointer;
    border-radius: 16px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-medicamento {
    margin-left: auto;
    border: 1px solid #ccc;
    padding: 35px;
    cursor: pointer;
    border-radius: 16px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option span {
    display: block;
    text-align: center;
}


.option .image-user {
    max-width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    
}

.option .image-medicamento {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1270px) { 
    .top-bar h1 {
        margin-left: 20px;
    }

    .top-bar .user  {
        margin-right: 40px;
    }
    
    .content {
        height: calc(100% - 150px);
        width: calc(100% - 40px);
    }
}


@media only screen and (max-width: 968px) {
    /* For mobile phones: */
    .top-bar {
        width: 100%;
        height: 80px;
    }
    
    .top-bar h1 {
        height: 80px;
        line-height: 80px;
        margin: 0 20px;
        font-size: var( --text-menu-size);
    }

    .top-bar .user  {
        float: right;
        height: 100%;
        width: auto;
        margin-right: 20px;
    }

    .top-bar .user .user-menu {
        flex-direction: row;
    }
    
    .top-bar .user .user-menu .user-name {
        margin: 0 18px 0 0;
        font-size: var(--text-menu-size);
        color: var(--on-primary-color);
    }
 

    .top-bar .user .user-menu button {
        height: 49px;
        width: 90px;
        font-size: var(--text-menu-size);
    }
    
    .top-bar .user .user-image {
        display: none;

    }

    .content {
        height: calc(100% - 80px);
        width: calc(100% - 40px);
    }

    .toolbar h3 {
        font-size: var(--text-menu-size);
    }
    
    .toolbar {
        flex-direction: column;
    }

    .toolbar .go-back {
        width: 100%;
    }

    .toolbar .go-back button {
        width: 100%;
        font-size: var(--text-menu-size);
    }
    
    .search {
        width: 100%;
    }
    
    
}

@media only screen and (max-width: 700px) {
    .option-user .image-user,
    .option-medicamento .image-medicamento {
        display: none;
    }
}

@media only screen and (max-width: 358px) {
    .top-bar .user  {
        display: none;
    }
    .option-user .image-user,
    .option-medicamento .image-medicamento {
        display: none;
    }
}